<h1>Advertises#index</h1>
<p>Find me in app/views/advertises/index.html.erb</p>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1> </h1>
    <!-- find exemple on  -->
    </div>
  </div>
</div>
