<div class=" col-md-offset-1 col-md-5 col-xs-12">
  <%= image_tag "wechatIMG6.jpg", height: 500, class: "qr-wechat" %>
</div>
<div class="col-md-offset-1 col-md-5 col-xs-12">
  <%= image_tag "Populargirls888.jpg", width: 330, height: 500 , class: "profile-wechat" %>
</div>

