<div class=" col-md-offset-1 col-md-5 col-xs-12">
  <%= image_tag "profile-whatapp.jpg", height: 500, class: "qr-wechat" %>
</div>
<div class="col-md-offset-1 col-md-5 col-xs-12">

  <%= image_tag "wechat-png-wechat-png-512.png", width: 400, height:400 , class: "profile-wechat" %>

</div>
