<div class=" col-md-offset-1 col-md-5 col-xs-12">
  <%= image_tag "pinky99999999.jpg", height: 500, class: "qr-wechat" %>
</div>
<div class="col-md-offset-1 col-md-5 col-xs-12">

  <%= image_tag "pinky99999999.jpg", width: 400, height:400 , class: "profile-wechat" %>

</div>
