<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 class="text-center">Pinky Girls escort agency</h1>
          <h2 class="text-center">336 Eden Terrace, Auckland</h2>
          <h3 class="text-center">phone: 021 08363118</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p class="text-center">
            We welcome you to Pinky Girls escort agency - find your dream girls here! We have many hot young Asian girls exclusively for your pleasure. Our friendly qualified ladies are available to offer you a truly relaxing therapeutic massage or an erotic sensual massage followed by a nice happy ending- you choose. We will greet you with refreshments while you relax on our warm and comfortable sofa while listening to soft soothing music. Our service is of high quality and guaranteed to please. Our lovely ladies will make you feel refreshed and revitalized. We work from a very upmarket Apt in Eden Terrace location, available 7 days from 10am to 5am for incalls and outcalls. Dont waste any time, call now for a wonderful experience.
        </p>
        <%= link_to "index girls", girls_index_path %>
    </div>
  </div>
</div>





