// Specific CSS for your home-page

.home-video{
  position: relative;
  left: 15px;

}



.hours{
  margin-left: 60%;
  margin-top: -7%;
}

@media only screen and (max-width: 580px) {
  .hours{
    top: 0px;
    right: 266px;
  }
}
