
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Divine Girls</h1>
    </div>
  </div>
  <% @girls.each  do |girl| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= girl.photo_one %>);">
        <div class="card-category"><%= girl.name %></div>
        <div class="card-description">
          <h2><% girl.age %></h2>
          <p><% girl.orign %></p>
        </div>
        <img class="card-user" src=<%= girl.photo_two%>>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
  <% end %>
</div>









